@media screen and (max-width: 1600px) {
	#carousel-generic .item{
		height: 609px;
	}
	#carousel-generic .carousel-caption {
		height: 609px;
	}

}
@media screen and (max-width: 1200px) {
	.logo {
		margin-right: 7%;
	}
	.lang {
		left: -110px;
	}
}
@media screen and (max-width: 1024px) {
	.navbar-right {
		/*width: 50%;*/
	}
	.lang {
		/*width: 100%;*/
		/*left: 0;*/
	}
	.navbar-collapse.collapse.menu {
		display: none !important;
	}
	.navbar-right {
		position: relative;
	}
	.navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin: 15px 0 0 0;
    background-color: transparent;
    background-image: none;
    display: block;
	}
	.avatar {
		right: 30px;
	}
}
@media screen and (max-width: 992px) {
	#section1 .items-inner {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	#section1 .item {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	#section1 .items-inner img {
		/*margin-top: 50px;*/
	}
	section#section1  .title {
		margin-bottom: 30px;
	}
	#section2 .one,
	#section2 .tree {
		padding-right: 0;
		margin-bottom: 30px;
	}
	#section2 .two,
	#section2 .four {
		padding-left: 0;
		margin-bottom: 30px;
	}
	#section2 .tree {
		clear: both;
	}
	.wizzard-mark3:before {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 767px) {
	.container {
		width: 90%;
		margin: auto;
	}
	.lang {
		/*display: none;*/
	}
	.navbar-right {
		float: right;
	}
	.navbar-header  {
		width: 50%;
		float: left;
	}
	.avatar .avatar-name {
		display: none;
	}
	#section1 .item {
		width: 100%;
	}
	.wizzard-mark {
		background-color: #fff;
		font-size: 18px;
	}
	.wizzard-mark1 {
		color: #064874;
	}
	.wizzard-mark2 {
		color: #01A0DF;
	}
	.wizzard-mark3 {
		color: #FF8800;
	}
	.wizzard-mark4 {
		color: #008A00;
	}
	.wizzard-mark span {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		text-align: center;
		line-height: 36px;
		color: #fff;
	}
	.wizzard-mark1 span {
		background-color: #064874;
	}
	.wizzard-mark2 span {
		background-color: #01A0DF;
	}
	.wizzard-mark3 span {
		background-color: #FF8800;
	}
	.wizzard-mark4 span {
		background-color: #008A00;
	}
	.kart-main {
		padding: 15px 0;
	}
	#footer ul li {
		margin: 0 10px;
	}
}	
@media screen and (max-width: 630px) {
	#kart {
		font-size: 16px;
	}
	.kart-inner {
		padding: 0;
		width: 100%;
	}
	.kart-inner .first {
		padding: 0 10px;
	}
	.kart-inner .last {
		padding: 0 10px;
	}
	#section6 .nav-tabs li {
		margin: 0;
	}
}
@media screen and (max-width: 500px) {
	.logo {
		width: 261px;
	}
	.navbar-toggle,
	.avatar-img {
		width: 55px;
		height: 55px;
	}
	.navbar-top {
		height: 90px;
	}
	.navbar-toggle:after,
	.avatar-img:after {
		left: 21px;
		top: 58px;
	}
	.navbar-right .navbar-toggle .dropdown-menu {
		right: -5px;
	}
}
@media screen and (max-width: 480px) {
	.navbar-header {
		width: 80px;
		overflow: hidden;
	}
	#section2 .one,
	#section2 .two,
	#section2 .tree,
	#section2 .four {
		width: 100%;
	}
	.kart-mobile {
		display: block;
		text-align: center;
		font-size: 22px;
		color: #064874;
		padding: 0 0 50px 0;
	}
	.kart-inner .first,
	.kart-inner .last {
		display: none;
	}
	.subscribe > div {
		width: 100%;
	}
	.subscribe .form-control,
	.subscribe .btn {
		margin-bottom: 30px;
	}
	#section6 .nav-tabs li {
		display: block;
		margin-bottom: 5px;
	}
	#section8 .form-group > div {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.group-addon.noclose {
		display: none;
	}
}

