/* Basic styles
-------------------------------------------------- */
html, body {
  height:100%;  
}
footer{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}
body {
	margin-top: 96px;
 	padding-bottom: 20px;
 	font-family: 'Open Sans', sans-serif;
 	color: #444444;
 	background-color: #fff;
}
section {
	padding: 70px 0;
}
h3 {
	font-size: 22px;
	text-transform: uppercase;
}
.clear {
  clear: both;
}
.bg-color {
	background-color: #F7F7F7;
}
.title {
	color: #064874;
}
.subtitle {
	font-size: 16px;
	text-transform: uppercase;
	color: #064874;
}
.relative {
	position: relative;
}
input.input {
	border: 1px solid #064874;
	height: 46px;
	line-height: 42px;
	border-radius: 6px;
}
textarea.textarea {
	height: 112px;
	border: 1px solid #064874;
	border-radius: 6px;
}

/* Margins
-------------------------------------------------- */

.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
/*.m-l-0 {
  margin-left: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}*/
/*.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}*/
/*.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}*/
/*.m-l-30 {
  margin-left: 30px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}*/
/*  margin-left: 40px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}*/
/*.m-l-50 {
  margin-left: 50px !important;
}
.m-r-50 {
  margin-right: 50px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}*/
/* Paddings
-------------------------------------------------- */
.p-l-0 {
  padding-left: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
/*.p-t-0 {
  padding-top: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-30 {
  margin-left: 30px !important;
}
.p-r-30 {
  margin-right: 30px !important;
}
.p-t-30 {
  margin-top: 30px !important;
}
.p-b-30 {
  margin-bottom: 30px !important;
}
.p-l-40 {
  margin-left: 40px !important;
}
.p-r-40 {
  margin-right: 40px !important;
}
.p-t-40 {
  margin-top: 40px !important;
}
.p-b-40 {
  margin-bottom: 40px !important;
}
.p-l-50 {
  margin-left: 50px !important;
}
.p-r-50 {
  margin-right: 50px !important;
}
.p-t-50 {
  margin-top: 50px !important;
}
.p-b-50 {
  margin-bottom: 50px !important;
}*/
/* Buttons
-------------------------------------------------- */
.btn-lg {
	height: 58px;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-md {
	height: 42px;
	padding-left: 15px;
	padding-right: 15px;
}
.btn-sm {
	height: 32px;
	padding-left: 5px;
	padding-right: 5px;
}
.btn-blue {
	background-color: #064874;
	border-color: #064874;
	color: #fff;
	text-transform: uppercase;
}
.btn-blue:hover, .btn-group:hover .btn-blue {
	background-color: #054066;
	border-color: #054066;
	color: #fff;
}
.btn-green {
	background-color: #008A00;
	border-color: #008A00;
	color: #fff;
	text-transform: uppercase;
}
.btn-green:hover, .btn-group:hover .btn-green  {
	background-color: #247D36;
	border-color: #247D36;
	color: #fff;
}
.btn-red {
	background-color: #ea4222;
	border-color: #ea4222;
	color: #fff;
	text-transform: uppercase;
	fill: #fff;
}
.btn-red:hover, .btn-group:hover .btn-red  {
	background-color: #e86c54;
	border-color: #e86c54;
	color: #fff;
}
.btn-orange {
	background-color: #fd8925;
	border-color: #fd8925;
	color: #fff;
	text-transform: uppercase;
}
.btn-orange:hover, .btn-group:hover .btn-orange  {
	background-color: #fb9f4e;
	border-color: #fb9f4e;
	color: #fff;
}
.btn-siel {
	background-color: #01A0DF;
	border-color: #01A0DF;
	color: #fff;
	text-transform: uppercase;
}
.btn-siel:hover, .btn-group:hover .btn-siel  {
	background-color: #158FC3;
	border-color: #158FC3;
	color: #fff;
}
.btn-blue-light {
	background-color: #85C1E4;
	border-color: #85C1E4;
	color: #fff;
	text-transform: uppercase;
}
.btn-blue-light:hover, .btn-group:hover .btn-blue-light  {
	background-color: #73a6c5;
	border-color: #73a6c5;
	color: #fff;
}

.btn-group.disabled > button.btn:first-of-type {
	background-color: #bfbfbf;
	border: #bfbfbf;
	color: #8c8c8c;
}
.btn-group.disabled > button.btn:nth-of-type(2) {
	background-color: #8c8c8c;
	border: #8c8c8c;
	color: #bfbfbf;
}

.form-group .btn-blue,
.form-group .btn-blue:hover {
	/*padding-left: 0;
	padding-right: 0;*/
	width: 179px;
	text-align: center;

}

.form-group .btn-md.btn-blue,
.form-group .btn-md.btn-blue:hover {
	width: 139px;
}
.form-group .btn-blue-light,
.form-group .btn-siel,
.form-group .btn-green {
	padding: 7px 9px;
}

.btn.ico {
	fill: #fff;
}

.btn-lg.ico {
	font-size: 40px !important;
	padding: 0px 12px !important;
}
.btn-md.ico {
	font-size: 28px !important;
	padding: 0px 12px !important;
}
.btn-sm.ico {
	font-size: 20px !important;
	padding: 0px 12px !important;
}

.btn-lg img {
	height: 30px;
}
.btn-md img {
	height: 24px;
}
.btn-sm img {
	height: 16px;
}

.form-group .btn-lg img {
	height: 30px;
}
.form-group .btn-md img {
	height: 16px;
}
.form-group .btn-sm img {
	height: 16px;
}
/* ==========================================================================
Радиокнопки
========================================================================== */
.btn-radio input {
  display: none;
}
.btn-radio label {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.btn-radio .radio-type {
  position: absolute;
  left: -20px;
  top: -1px;
}
.btn-radio .radio-type:before {
  content: '\f10c';
  display: inline-block;
  font-family: FontAwesome;
  color: #d6d6d6;
  font-size: 16px;
  font-weight: lighter;
}
.btn-radio input:checked + .radio-type:before{
  content: '\f192';
  color: #008db1;
}
.btn-radio-blue .radio-type:before{
  color: #008db1;
}
.btn-radio-blue input:checked + .radio-type:before{
  color: #008db1;
}
.btn-radio-black .radio-type:before{
  color: #444;
}
.btn-radio-black input:checked + .radio-type:before{
  color: #444;
}
.btn-radio-disabled label {
  cursor: not-allowed;
}
.btn-radio-disabled input:checked + .radio-type:before{
  color: #d6d6d6;
}

/* ==========================================================================
  Чекбоксы
  ========================================================================== */

.checkbox input{
  display: none;
}
.checkbox label{
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}
.checkbox .checkbox-type{
  position: absolute;
  left: -20px;
  top: -1px;
}
.checkbox .checkbox-type:before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #d6d6d6;
  text-align: center;
}
.checkbox input:checked + .checkbox-type:before{
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #fff;
  background-color: #008db1;
  border-color: #008db1;
  font-size: 12px;
}
.checkbox-blue .checkbox-type:before{
  border: 2px solid #008db1;
}
.checkbox-blue input:checked + .checkbox-type:before{
  color: #008db1;
  background-color: #fff;
  border-color: #008db1;
}
.checkbox-black .checkbox-type:before{
  border: 2px solid #444;
}
.checkbox-black input:checked + .checkbox-type:before{
  color: #444;
  background-color: #fff;
  border-color: #444;
}
.checkbox-disabled label {
  cursor: not-allowed;
}
.checkbox-disabled input:checked + .checkbox-type:before{
  color: #d6d6d6;
  background-color: #fff;
  border-color: #d6d6d6;
}
/* ==========================================================================
  Календарь
  ========================================================================== */
.datepicker-inner{
  position: relative;
  background-color: #fff;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
.datepicker-inner > span{
  position: absolute;
  top: 10px;
  left: 10px;
}
.datepicker-inner > .fa{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0
}
.datepicker{
  border: 0;
  outline: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  z-index: 0
}
.datepicker.date-from{
  padding-left: 25px;
}
.datepicker.date-to{
  padding-left: 35px;
}
.ui-datepicker{
  padding: 0;
}
.ui-datepicker .ui-datepicker-header{
  padding: 5px 0;
}
.ui-widget-header {
    border: 0;
    border-radius: 4px 4px 0 0;
    background-image: none;
    background-color: #ebebeb;
    color: #606060;
    font-weight: bold;
    
}
.ui-widget-content{
  background-color: #fff;
  background-image: none;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
  z-index: 500 !important;
}
.ui-datepicker td a{
  text-align: center;
}
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
  background-color: transparent;
  border-color: #d6d6d6;
}
.ui-state-active{
  background-color: #ebebeb;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{
  background-image: none;
  text-align: center;
  top: 8px;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:before, 
.ui-datepicker .ui-datepicker-next:before{
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  color: #606060;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev:before{
  content: '\f104';
}
.ui-datepicker .ui-datepicker-next:before{
  content: '\f105';
}
.ui-datepicker .ui-datepicker-prev-hover, 
.ui-datepicker .ui-datepicker-next-hover {
  border: 0;
  font-weight: bold;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
  border-color: #006e8c;
  background-color: #008db1;
}
.calendar {
  position: relative;
}
.calendar span {
    font-style: normal;
    text-transform: none;
    display: inline-block;
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 4px 10px;
    font-family: 'roboto-regular';
    font-size: 13px;
}
.calendar input {
    width: 100%;
    margin: 0;
    padding: 5px 10px 5px 30px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    outline: none;
    position: relative;
    background: transparent;
    font-family: 'roboto-regular';
    font-size: 13px;
    z-index: 50;
    cursor: pointer;
    height: 36px;

}
.calendar-only input {
  padding: 5px 10px;
}
.calendar-blue input {
  border: 1px solid #008db1;
  color: #008db1;
}
.calendar-disabled .fa,
.calendar-disabled span {
  z-index: 100;
  cursor: not-allowed;
}
.calendar .fa {
    position: absolute;
    top: 11px;
    right: 10px;
    color: #444;
}
.calendar-blue .fa,
.calendar-blue span {
  color: #008db1;
}
.calendar .last {
    padding-left: 1px;
    padding-right: 0;
    background-color: #fff;
}
.calendar .first {
  padding-left: 0;
  padding-right: 1px;
  background-color: #fff;
}
/* Navbar
-------------------------------------------------- */
.navbar-top {
	height: 96px;
	margin-bottom: 0;
	background-color: #064874;
	border-radius: 0;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}
.logo {
	width: 311px;
	height: 71px;
	margin-right: 20%;
}
.logo img {
	width: 100%;
	height: auto;
}
.menu {
	margin-top: 25px;
	float: left;
}
.navbar-brand.logo .image { 
	transition: all 100ms ease-in-out; 
	transform: scale(1);
}
.navbar-brand.logo .image:hover { 
	transition: all 100ms ease-in-out; 
	transform: scale(0.9);
}

.navbar-brand.logo .image {
	width: 100px;
	float: left;
	position: relative;
}
.navbar-brand.logo .heading {
	width: 170px;
	float: left;
	position: relative;
	height: 71px;
	display: flex;
	justify-content: center;	
}

@media (max-width: 768px) {
	.logo {
		width: 301px;
	}
	.navbar-brand.logo .image {
		width: 90px;
	}
	.navbar-brand.logo .heading {
		width: 160px;
	}
}

@media (max-width: 468px) {
	.logo {
		width: 301px;
	}
	.logo img {
		width: 84%;
	}
	.navbar-brand.logo .image {
		width: 90px;
	}
	.navbar-brand.logo .heading {
		display: none;
	}
}

#kart .kart-img {
	transition: all 100ms ease-in-out; 
	transform: scale(1);
}
#kart:hover .kart-img {
	transition: all 100ms ease-in-out; 
	transform: scale(0.9);
}

.menu li a {
	color: #84A3BA;
	font-weight: 800;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 5px;
}

.menu li a:hover,
.menu li a:focus/*,
.menu li.active a*/
{
	color: #064874;
}
.menu li.active a:not(:hover)
{
	color: #064874;
}
.menu li.active a:not(:focus)
{
	color: #457696;
}

/*.menu li a:hover,*/
/*.menu li a:focus,*/
/*.menu li.active a {
	background-color: #84A3BA;
	color: #064874;
	border-radius: 4px;
}*/

/* reset bootstrap navbar stuff to make it transparent */
@media (min-width: 768px) {
  .transparent .navbar {
    background-color: transparent;
    border: 0;
  }
  .transparent .navbar .dropdown-menu {
    background: #e7e7e7;
    border: 0;
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
  }
  .transparent .navbar .dropdown-menu .divider {
    background-color: #f5f5f5;
  }
  .transparent .navbar .navbar-right .dropdown-menu {
    background: #fc0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
  }
}

/* lavalamp CSS */
@media (min-width: 768px) {
  .navbar-lavalamp {
    position: relative;
    border: none;
  }
  .navbar-lavalamp > li {
    z-index: 2;
    position: relative;
  }
  .navbar-lavalamp > li > a,
  .navbar-lavalamp > li > a:hover,
  .navbar-lavalamp > li > a:focus {
  	font-weight: 800;
    border: none;
    background-color: transparent !important;
  }
  .navbar-lavalamp > li.lavalamp {
    z-index: 1;
    position: absolute;
    top: 0;
  }
  .navbar-lavalamp > li > .dropdown-menu {
    border-top-left-radius: 4px;
  }
  .navbar-lavalamp > .open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .navbar-lavalamp > .open > a,
  .navbar-lavalamp > .open > a:hover,
  .navbar-lavalamp > .open > a:focus {
    background-color: transparent;
  }
}

.navbar-right {
	position: relative;
	float: left;
	margin-right: 10px;
}
.navbar-toggle {
	width: 65px;
	height: 65px;
	border: 2px solid #84A3BA;
	border-radius: 50%;
	margin-top: 15px;
	display: inline-block;
	margin-left: 10px;
	margin-right: -10px;
	position: relative;
	display: none;
}
.navbar-toggle:after {
	content: '';
	display: inline-block;
	border: 4px solid transparent; 
	border-top: 4px solid #84A3BA;
	position: absolute; 
	top: 68px;
	left: 26px;
}
.navbar-toggle img {
	width: 100%;
}
.navbar-right .dropdown-menu {
	width: 280px;
	left: auto;
	right: -10px;
	padding-bottom: 0;
	border-radius: 8px;
	margin-top: 35px;
}
.navbar-right .navbar-toggle .dropdown-menu {
	right: 0;
}
.navbar-right .dropdown-menu:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -40px;
	right: 11px;
	border: 20px solid transparent; 
	border-bottom: 20px solid #fff;
}
.navbar-toggle .dropdown-menu {
	padding: 20px;
}
.navbar-toggle .navbar-nav > li {
	width: 100%;
}
.navbar-toggle li a {
	border-bottom: 1px solid #ededed;
	color: #000;
}
.navbar-toggle li:first-child a {
	border-top: 1px solid #ededed;
}
.navbar-toggle li a:hover,
.navbar-toggle li a:focus,
.navbar-toggle li.active a {
	background-color: transparent;
	color: #064874;
	border-radius: 0;
	border-top: 1px solid #064874;
	border-bottom: 1px solid #064874;
	margin-top: -1px;
}
.navbar-toggle li:first-child a:hover,
.navbar-toggle li:first-child a:focus {
	margin-top: 0;
}
.navbar-toggle li.active:first-child a:hover,
.navbar-toggle li.active:first-child a:focus {
	margin-top: -1px;
}

.avatar {
	float: right;
}
.avatar a {
	text-transform: uppercase;
	color: #84A3BA;
	text-decoration: none;
}
.avatar .avatar-name {
	font-weight: 600;
	display: inline;
}
@media (max-width: 1200px) {
	.avatar .avatar-name {
		display: none;
	}
}
@media (max-width: 1024px) and (min-width: 400px) {
	.avatar .avatar-name {
		display: inline;
	}
}

@media (max-width: 468px) {
	.navbar-right .dropdown-menu {
		right: -94px;
	}
	.navbar-right .dropdown-menu:before {
		right: 91px;
	}
}

.avatar-img {
	width: 65px;
	height: 65px;
	border: 2px solid #84A3BA;
	border-radius: 50%;
	margin-top: 15px;
	display: inline-block;
	margin-left: 10px;
	margin-right: -10px;
	position: relative;
}
.avatar-img:after {
	content: '';
	display: inline-block;
	border: 4px solid transparent; 
	border-top: 4px solid #84A3BA;
	position: absolute; 
	top: 68px;
	left: 26px;
}
.avatar img {
	width: 100%;
}
.avatar .form-group {
	margin-bottom: 0;
}
.avatar .form-group-top {
	padding: 20px 25px 10px 25px;
}
.avatar .form-group input {
	margin-bottom: 20px;
}
.avatar .input-group-icon {
	position: relative;
}
.avatar .group-addon {
	position: absolute;
	top: 11px;
	right: 5px;
	z-index: 1;
	cursor: pointer;
}
.avatar .group-addon.noclose,
.register .group-addon.noclose
{
	width: 18px;
	height: 21px;
	background-size: 18px 15px;
	background-repeat: no-repeat;
	background-position: center center;
}
.avatar .input-group-icon .group-addon.noclose:not(active), 
.register .input-group-icon .group-addon.noclose:not(active) 
{
	background-image: url(/esk/css/images/svg_icons/eye_opened.svg) !important;
}
.avatar .input-group-icon .group-addon.noclose.active,
.register .input-group-icon .group-addon.noclose.active 
{
	background-image: url(/esk/css/images/svg_icons/eye_closed.svg) !important;
}
/*.avatar .group-addon img {
	width: 24px;
	height: 17px;
}*/
.avatar .form-group-top a {
	font-size: 12px;
	color: #064874;
	text-transform: none;
	text-decoration: underline;
	display: inline-block;
	margin: 10px 0;
}
.avatar .form-group-bottom {
	background-color: #f2f2f2;
	padding: 15px 25px 20px 25px;
	border-radius: 0 0 8px 8px;
}
.lang {
	position: absolute;
	top: 0;
	width: 110px;
	left: -180px;
}
.lang a {
	text-transform: uppercase;
	background-color: #84A3BA;
	color: #064874;
	font-size: 12px;
	display: inline-block;
	margin: 0 5px;
	padding: 2px 10px;
	border-radius: 0 0 4px 4px;
	text-decoration: none;
}
.lang a.active,
.lang a:hover {
	background-color: #447697;
	color: #84A3BA;
}

.dropdown-menu .lang {
	display: none;
}

@media (max-width: 768px) {
	.dropdown-menu .lang {
		left: 40px;
		top: 0;
		display: block;
	}
	.dropdown-menu .lang a {
		padding: 10px 10px 10px 10px;
		min-width: 30px;
		color: #fff;		
	}
	ul.nav.navbar-nav {
		margin-top: 30px;
	}
}

@media (max-width: 468px) {
	.dropdown-menu .lang {
		left: 40px;
		top: 0;
		display: block;
	}
	.dropdown-menu .lang a {
		padding: 10px 10px 10px 10px;
		min-width: 30px;
	}
	ul.nav.navbar-nav {
		margin-top: 30px;
	}
}

/* Top Slider
-------------------------------------------------- */
#carousel-generic .item{
	width: 100%;
	height: 823px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right center;
}
#carousel-generic .carousel-caption {
	max-width: 100%;
	text-align: left;
	display: table;
	height: 823px;
	left: 0;
	right: 0;
	position: relative;
	padding-bottom: 57px;
}
#carousel-generic .carousel-caption-inner {
	display: table-cell;
	vertical-align: bottom;
}

#carousel-generic .carousel-caption {
	text-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}
#carousel-generic .carousel-caption h2 {
	font-size: 44px;
	font-weight: 600;
	margin-bottom: 25px;
}
#carousel-generic .carousel-caption p {
	font-size: 22px;
	font-weight: 600;
}
#carousel-generic .carousel-caption ol {
	font-size: 22px;
	font-weight: 600;
}
#carousel-generic .carousel-caption.blue {
	color: #064874;
	text-shadow: none;
}
#carousel-generic .btn-siel{
	padding: 7px 12px;
}
#carousel-generic .btn img{
	height: 35px;
}

@media (max-width: 960px) {
	#carousel-generic .item.slider-1 {
		background-image: url('/esk/img/slider01-sm.jpg') !important;
	}	
	#carousel-generic .item.slider-2 {
		background-image: url('/esk/img/slider02-sm.jpg') !important;
	}
	#carousel-generic .item.slider-3 {
		background-image: url('/esk/img/slider03-sm.jpg') !important;
	}
}
@media (max-width: 468px) {
	#carousel-generic .carousel-caption h2 {
		font-size: 2em;
	}
	#carousel-generic .carousel-caption p {
		font-size: 1em;	
	}
	#carousel-generic .carousel-caption ol {
		font-size: 1em;	
	}
}

.slider-3 .carousel-caption-inner {
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9);
}

/*** Carousel control ***/
.carousel-control {
	opacity: 0;
}
#carousel-generic:hover .carousel-control {
	opacity: 1;
}
.carousel-control {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-top: -25px;
	background-color: rgba(0,0,0,0.2);
	background-image: none !important;
	text-indent: -9999px;
	border-radius: 6px;
	display: block;
}
.carousel-control:hover {
	background-color: rgba(0,56,102,0.8);
}
.carousel-control:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 10px;
	width: 17px;
	height: 28px;
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-control.left {
	left: 30px;
}
.carousel-control.left:before {
	left: 15px;
	background-image: url("../img/arrow_prev.png");
}
.carousel-control.right {
	right: 30px;
}
.carousel-control.right:before {
	left: 20px;
	background-image: url("../img/arrow_next.png");
}
/* Sections
-------------------------------------------------- */
section .title {
	text-align: center;
	margin-bottom: 70px;
	line-height: 1.5;
}
/* Section 1
------------ */

#section1 img {
	width: 100%;
	height: auto;
}
#section1 h4 {
	font-size: 22px;
	color: #064874;
	margin-bottom: 5px;
	white-space: nowrap;
}
#section1 .items-inner img.icon {
	display: inline-block;
	vertical-align: middle;
	width: 54px;
}
#section1 p {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 300;
	padding-left: 65px;
}
#section1 .icon {
	display: inline-block;
	margin-right: 10px;
}
#section1 .icon1 {
	width: 53px;
	height: 46px;
}
#section1 .icon2 {
	width: 53px;
	height: 54px;
}
#section1 .icon3 {
	width: 49px;
	height: 46px;
}
#section1 .icon4 {
	width: 49px;
	height: 54px;
}
/* Section 2
------------ */
#section2  {
	text-align: center;
}
.wizzard {
	width: 200px;
	height: 200px;
	border: 7px solid;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 50px;
}
.wizzard img{
	width: 100%;
	height: auto;
}
.wizzard1 {
	border-color: #D9E3EA;
}
.wizzard2 {
	border-color: #D9F0FA;
}
.wizzard3 {
	border-color: #FFEDD8;
}
.wizzard4 {
	border-color: #D8EDD8;
}
.wizzard-mark-cover {
	position: absolute;
	width: 100%;
	height: 48px;
	background-color: #008A00;
}
.wizzard-mark-cover-inner {
	width: 50%;
	height: 48px;
	background-color: #064874;
}
.wizzard-mark {
	color: #fff;
	text-transform: uppercase;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: relative;
}

.wizzard-mark span {
	color: #000;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	margin-right: 10px;
}
.wizzard-mark1 {
	background-color: #064874;
}

.wizzard-mark1 span {
	color: #064874;
}
.wizzard-mark2 {
	background-color: #01A0DF;
}

.wizzard-mark2 span {
	color: #01A0DF;
}
.wizzard-mark3 {
	background-color: #FF8800;
}

.wizzard-mark3 span {
	color: #FF8800;
}
.wizzard-mark4 {
	background-color: #008A00;
}

.wizzard-mark4 span {
	color: #008A00;
}
#section2  h4 {
	font-size: 22px;
	color: #064874;
	margin: 50px 0 20px;
}



.wizzard-mark:before{
	content: '';
	width: 48px;
	height: 48px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	border: 24px solid transparent;
	border-left: 24px solid #fff;
}
.wizzard-mark1:before {
	display: none;
}
.wizzard-mark-inner:after {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	border: 12px solid transparent;
	border-top: 12px solid #fff;
	border-right: 12px solid #fff;
}
.wizzard-mark-inner:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	border: 12px solid transparent;
	border-bottom: 12px solid #fff;
	border-right: 12px solid #fff;
}

/* Section Kart
------------ */
#kart {
	height: 100px;
	background-color: #064874;
	color: #fff;
	font-size: 20px;
	padding: 0;
}
#kart img {
	max-width: 100%;
	
	height: auto;
}
#kart .kart-img {
	width: 170px;
}

.kart-main {
	height: 100px;
	padding: 35px 0;
}
.kart-inner {
	height: 100px;
}
.kart-inner  {
	display: table;
}
.kart-inner > div {
	display: table-cell;
	
	position: relative;
	top: -55px;
}
.kart-inner .first {
	text-align: right;
	padding-right: 30px;
}
.kart-inner .last {
	padding-left: 30px;
}
.kart-mobile {
	display: none;
}

@media (max-width: 768px) {
	#kart .kart-img {
		width: 150px;
	}
	.kart-inner > div {
		top: -25px;
	}	
}

/* Section 3
------------ */
#section3 .owl-item {
	padding: 10px;
}
#section3 .review {
	background-color: #fff;
	border-radius: 20px;
	padding: 20px 20px 20px 35px;
	box-shadow: 0 0 4px 1px rgba(232, 232, 232, 1);
	position: relative;
	font-size: 16px;
	font-style: italic;
	height: 175px;
}

#section3 .review:after {
	content: '';
	display: inline-block;
	border: 20px solid transparent; 
	border-top: 20px solid #fff;
	position: absolute;
	bottom: -40px; 
	left: 20px;
}
#section3 .review:before {
	content: '';
	display: inline-block;
	border: 22px solid transparent; 
	border-top: 22px solid rgba(232, 232, 232, 0.6);
	position: absolute;
	bottom: -45px; 
	left: 18px;
}
#section3 .review .blockq {
	position: absolute;
	left: 10px;
	display: inline-block;
	width: 20px;
	height: 16px;
	background-image: url("../img/blockquote.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
#section3 .review .blockq.last {
	-moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
  position: relative;
  top: 5px;
  left: 0;
}
#section3 .owl-item .review-author {
	margin-top: 35px;
}
#section3 .owl-item .review-author img {
	width: 70px;
	height: 70px;
	float: left;
}
.review-author-name {
	padding-top: 15px;
	margin-left: 100px;
	font-size: 16px;
}
.review-author-name span {
	display: block;
	font-weight: 300;
}
#section3 .owl-nav > div {
	top: 0;
	margin-top: 75px;
}
/* Owl carousel
------------ */
.owl-nav {
	opacity: 0;
}
.owl-carousel:hover .owl-nav,
.owl-nav:hover {
	opacity: 1;
}
.owl-nav > div {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-top: -25px;
	background-color: #B9B9B9;
	text-indent: -9999px;
	border-radius: 6px;
}
.owl-nav > div:hover {
	background-color: rgba(0,56,102,0.8);
}
.owl-nav > div:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 10px;

	width: 17px;
	height: 28px;
	-webkit-background-size: cover;
	background-size: cover;
}
.owl-prev {
	left: -60px;
}
.owl-prev:before {
	left: 15px;
	background-image: url("../img/arrow_prev.png");
}
.owl-next {
	right: -60px;
}
.owl-next:before {
	left: 20px;
	background-image: url("../img/arrow_next.png");
}
/* Section 4
------------ */
#section4 {
	background-image: url("../img/draugam.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
#section4 h3 {
	color: #fff;
	font-weight: 600;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	margin-bottom: 50px;
}
#section4 .content {
	max-width: 600px;
	margin: auto;
	text-align: center;
}
#section4 .content p {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	font-style: italic;
	margin-bottom: 50px;
}
#section4 .form-control {
	margin-bottom: 50px;
}
#section4 input {
	background-color: rgba(192,205,213,0.8);
	border: 2px solid #fff;
	height: 46px;
	line-height: 42px;
	border-radius: 6px;
}
#section4 input:focus {
	background-color: rgba(192,205,213,1);
}
#section4 .btn {
	height: 46px;
	line-height: 42px;
	padding: 0 12px;
	background-color: #01A0DF;
	border: 2px solid #fff;
	border-radius: 6px;
	width: 100%;
}
#section4 .social a {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 55px;
	height: 55px;
	overflow: hidden;
	margin: 0 10px;
}
#section4 .social a img {
	width: 53px;
	height: 53px;
}
#section4 .social a.ok {
	background-color: #fd8a01;
}
#section4 .social a.fb {
	background-color: #304a7d;
}
#section4 .social a.dd {
	background-color: #ff8803;
}
#section4 .social a.tw {
	background-color: #02a6eb;
}

#section4 .social a:hover {
	border-style: none;
}
#section4 .social a:hover img {
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-content: center;*/
	width: 60px;
	height: 60px;
}
#section4 .social {
	min-height: 70px;
	display: flex;
	justify-content: center;
}

#section4 .subscribe .success-message,
#section4 .subscribe .error-message {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	font-style: italic;
	display: none;
}

#section4 .subscribe .success {
	border-color: #fff;
	color: #064874;
}
#section4 .subscribe .error {
	border-color: #E44732;
	color: #E44732;
}

#section4 .subscribe .success-message img,
#section4 .subscribe .error-message img {
	float: none;
}

#section4 .subscribe .form-control.email:hover {
	background-color: rgba(192, 205, 213, 0.9);
}

#section4 .subscribe .js-subscribe:hover {
	background-color: #018bc2;
}

/* --- */
#section8 .success-message,
#section8  .error-message {
	font-weight: 600;
	font-style: italic;
	display: none;
}
#section8 .success-message {
	color: #064874;
}
#section8 .error-message {
	color: #E44732;
}
/* --- */
#register .success-message,
#register  .error-message {
	font-weight: 600;
	font-style: italic;
	display: none;
}
#register .success-message {
	color: #064874;
}
#register .error-message {
	color: #E44732;
}
/* --- */
#register .error-message1,
#register .error-message2,
#register .error-message3
{
	font-weight: 600;
	font-style: italic;
	display: none;
}
#register .error-message1,
#register .error-message2,
#register .error-message3
{
	color: #E44732;
}

.form-group .input.success {
	border: 2px solid #008A00 !important;
	color: #064874;
}
.form-group .input.error {
	border: 2px solid #E44732 !important;
	color: #E44732;
}

/* Section 5
------------ */
#section5 img {
	width: 100%;
	border-bottom: 2px solid #02A1E0;
}
#section5 h4 {
	font-size: 22px;
	color: #064874;
	margin-bottom: 20px;
}
#section5 p {
	font-size: 16px;
}
#section5 .item {
	background-color: #f7f7f7;
	border-radius: 0 0 20px 20px;
}
#section5 .desc {
	padding: 20px;
	/*height: 260px;*/
}
/* Section 6
------------ */
#section6 .nav-tabs {
	text-align: center;
	border-bottom: 0;
	margin-bottom: 30px;
}
#section6 .nav-tabs li {
	float: none;
	display: inline-block;
	margin: 0 20px;
}
#section6 .nav-tabs li a {
	border: 0;
	background-color: transparent;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	color: #064874;
	padding: 8px 22px;
}
#section6 .nav-tabs li.active a {
	background-color: #5484B0;
	border-radius: 6px;
	color: #fff;
}
#section6 .panel {
	border: 0;
	background-color: transparent;
	box-shadow: none;
}
#section6 .panel-heading {
	background-color: transparent;
}
#section6 .panel-title a {
	text-decoration: none;
	display: table;
	color: #064874;
	font-size: 16px;
}
#section6 .panel-title a > span {
	display: table-cell;
	vertical-align: middle;
}
#section6 .panel-title a:before {
	content: '+';
	display: inline-block;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background-color: #5484B0;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	margin-right: 10px;
}
#section6 .open .panel-title a:before {
	content: '—';
	font-size: 14px;
}
#section6 .panel-body {
	border: 0;
	padding-top: 0;
	padding-left: 60px;
	font-size: 16px;
}
/* Section 7
------------ */
/* Section 8
------------ */
#section8 input {
	margin-bottom: 20px;
}
#section8 textarea {
	height: 112px;
}

#section8 .btn {
	padding: 10px 50px;
	height: 44px;
	margin-top: 20px;
}
/* Section Subfooter
------------ */
#subfooter {
	height: 35px;
	background-color: #064874;
	padding: 0;
}
/* Footer
------------ */
#footer {
	padding: 35px 0 5px;
	text-align: center;
}
#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer ul li {
	display: inline-block;
	margin: 0 30px;
}
/* Modals
------------ */
.modal-content {
	border-radius: 8px;
	overflow: hidden;
}
.modal-header {
	background-color: #064874;
	position: relative;
}
.modal-sm .modal-header {
	height: 50px;
	padding: 15px 25px;
	color: #fff;
	font-weight: 600;
}
.modal-header .close {
	position: absolute;
	top: 10px;
	right: 20px;
}
.modal-header .close img {
	width: 30px;
	height: 30px;
}
.modal-body {
	padding: 20px 25px;
}
.modal-sm .form-group input {
	margin-bottom: 20px;
	margin-top: 30px;
}
.modal-sm .form-group .btn-blue,
.modal-sm .form-group .btn-blue:hover {
	width: 203px;
}
.modal-body .success {
	text-align: center;
}
.modal-body .success img {
	width: 73px;
	height: 73px;
}
.modal-body .success p {
	font-size: 22px;
	font-weight: 300;
	margin-top: 20px;
}
.modal-body .error {
	border-color: #E44732;
	color: #E44732;
}
.modal-body .error-message {
	margin-bottom: 20px;
	display: none;
}
/* Messages
------------ */
.success-message,
.error-message {
	color: #E44732;
}
.success-message img,
.error-message img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	float: left;
}
/* Section Register
------------ */
#register .content {
    max-width: 600px;
    margin: auto;
}
#register input.input {
	height: 32px;
	line-height: 22px;
}
#register .form-group input {
	margin-bottom: 20px;
}
#register .input-group-icon {
	position: relative;
}
#register .group-addon {
	position: absolute;
	top: 5px;
	/*top: 11px;*/
	right: 5px;
	z-index: 1;
	cursor: pointer;
}
#register .group-addon img {
	width: 24px;
	height: 17px;
}
.input-group-note {
	font-size: 12px;
	color: #064874;
	top: -13px;
	position: relative;
	font-style: italic;
}
#register .btn-group {
	margin-top: 30px;
}
/* Section Register Success
------------ */
#register_success .content {
    max-width: 600px;
    margin: auto;
}
#register_success img {
	width: 90px;
	height: 90px;
	margin: auto;
}
#register_success .success-img {
	margin-bottom: 30px;
}
#register_success a {
	font-weight: 600;
	color: #064874;
}
/* Section Register Thanks
------------ */
#register_thanks .content {
    max-width: 600px;
    margin: auto;
}
#register_thanks img {
	width: 168px;
	height: 168px;
	margin: auto;
}
#register_thanks .thanks-img {
	margin-bottom: 30px;
}
#register_thanks .bold {
	font-weight: 600;
	color: #064874;
}
/* Section Register Require
------------ */
#register_require .content {
    max-width: 800px;
    margin: auto;
}
#register_require img {
	width: 154px;
	height: 110px;
	display: inline-block;
	border: 1px solid #CEE4F0;
	border-radius: 6px;
	margin: 0 10px 10px 10px;
}
#register_require .require-img {
	margin-bottom: 30px;
}
#register_require a {
	text-decoration: underline;
	color: #064874;
}
#register_require .require-img img:hover {
	border: 1px solid #426470;
}

/* Section Register Steps
------------ */
#register-steps .title {
	margin-bottom: 40px;
}
#register-steps .subtitle {
	margin-bottom: 40px;
}
#register-steps input.input {
	height: 32px;
	line-height: 32px;
}
#register-steps .form-group input {
	margin-bottom: 20px;
}
#register-steps .input-group-icon {
	position: relative;
}
#register-steps select {
	height: 32px;
	line-height: 32px;
	width: 100%;
}
#register-steps .form-group select {
	margin-bottom: 20px;
}
#register-steps .signs {
	font-size: 12px;
}
#register-steps .signs span {
	text-transform: uppercase;
	font-weight: 700;
}
#register-steps .form-group-radio {
	margin-top: 30px;
}
#register-steps .btn-radio label {
	margin-right: 30px;
	margin-top: 5px;
}

.btn-group-note {
	font-size: 12px;
	color: #064874;
	text-align: center;
	margin-top: 5px;
	font-style: italic;
}
.btn-group-note.italic {
	font-style: italic;
}

#register-steps p.details-text {
	font-size: 11px;
}

.details-text.info {
  color: #064874;
  font-style: italic;
}

.btn-group {
	display: flex;
}

input:hover::-webkit-input-placeholder { color:#064874; }
input:hover:-moz-placeholder { color:#064874; } /* FF 4-18 */
input:hover::-moz-placeholder { color:#064874; } /* FF 19+ */
input:hover:-ms-input-placeholder { color:#064874; } /* IE 10+ */

textarea:hover::-webkit-input-placeholder { color:#064874; }
textarea:hover:-moz-placeholder { color:#064874; } /* FF 4-18 */
textarea:hover::-moz-placeholder { color:#064874; } /* FF 19+ */
textarea:hover:-ms-input-placeholder { color:#064874; } /* IE 10+ */

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.circle-img {
	border-radius: 100% 100% 100% 100%;
}

.spaced-list-items li {
	margin-bottom: 10px;
}

section#terms_of_use .spaced-list-items {
	font-weight: 200; 
	line-height: 18px;
	margin-left: 0px;
	padding-left: 0px;	
}

section#terms_of_use .heading {
	text-align: left;
	color: #064874;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 40px;
}

.modal .text-center {
	line-height: 28px;
}
.modal .text-center.bold {
	font-weight: 600;
	color: #064874;
}

.modal .btn-group-centered {
	display: table;
 	margin: 0 auto;
}

.modal .btn-group.in-a-row {
	position: relative; 
	float: left; 
	margin-right: 20px;
}

.modal .btn-sm img{
	height: 16px;
}

#register-ecard .nav.nav-tabs li a {
	background-color: #5484B0;
	color: #cce2ee;
	border: none;
}

#register-ecard .nav.nav-tabs li.active a {
	background-color: #F7F7F7;
	color: #000;
	border: none;
}

#register-ecard .nav-tabs > li > a, #register-ecard .nav-pills > li > a {
	/*margin-left: 25px;*/
	margin-right: 20px;
}

#register-ecard ul.nav.nav-tabs {
	margin: 0 auto;
	display: table;
	border-bottom: none;
}

#register-ecard .row.top {
	padding: 30px 0 30px 0;
}

#register-ecard .form-group .row {
	padding: 10px 0 0 0;
}

#register-ecard .row.light-accent {
	background-color: #F7F7F7;
}


#register-ecard .row.accent {
	background-color: #e8e8e8;
}

#register-ecard .step-count {
	border-radius: 100%;
	border: 2px solid #064874;
	margin: 0 5px 0 5px;
	padding: 8px 15px;
}

.btn-group.pale .btn.btn-blue {
	background-color: #5484B0;
	border-color: #5484B0;
	color: #cce2ee;
}

.btn-group.pale .btn.btn-siel {
	background-color: #87c2e3;
	border-color: #87c2e3;
	color: #cce2ee;
}

.form-group.pale .form-control.input {
	border-color: #87c2e3;
}

.btn-group-note a {
	text-decoration: underline;
}

.row .box-container {
	width: 100%;
	/*text-align: center;*/
}
.row .box-container > div {
	width: calc(100% / 15);  
	display: inline-block;
	vertical-align: top;   
	/*border: 1px solid red;*/
	text-align: center;
	margin-right: 2%;
	/*margin: 1%;    */
	/*padding: 3px;*/
}

.row .box-container.p-code > div {
	width: calc(100% / 20);  
}

.row .box-container input {
	padding: 12px 6px;
	min-width: 24px;
	margin-bottom: 0px !important;
}

.row .box-container.p-code input {
	padding: 12px 4px;
	min-width: 22px;
}

@media screen and (max-width: 1200px) {
	.row .box-container div {
		margin-right: 1%;
	}

	.row .box-container input {
		padding: 12px 4px;
		min-width: 20px;
	}
	.row .box-container.p-code input {
		padding: 12px 4px;
		min-width: 18px;
	}

}

@media screen and (max-width: 992px) {
	.row .box-container div {
		margin-right: 1%;
	}

	.row .box-container input {
		padding: 12px 3px;
		min-width: 16px;
	}
	.row .box-container.p-code input {
		padding: 12px 2px;
		min-width: 14px;
	}

}

@media screen and (max-width: 768px) {
	.row .box-container div {
		margin-right: 1%;
	}

	.row .box-container input {
		padding: 12px 3px;
		min-width: 16px;
	}

}

@media screen and (max-width: 480px) {
	.row .box-container div {
		margin-right: 1%;
	}

	.row .box-container input {
		padding: 12px 3px;
		min-width: 16px;
	}

}

@media screen and (max-width: 320px) {
	.row .box-container div {
		margin-right: 1%;
	}

	.row .box-container input {
		padding: 12px 3px;
		min-width: 16px;
	}

}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #87c2e3;
	border-radius: 4px
}

.select2-selection.select2-selection--single {
    height: 32px;
    line-height: 32px;
}

.select2-dropdown {
	border: 1px solid #87c2e3;
}

.person-line.vertical-center {
	height: 120px; 
	display: table;
}

.person-line.vertical-center .person-content {
	display: table-cell; 
	vertical-align: middle;
}

.modal-add-child-photo .nav-tabs {
	text-align: center;
	border-bottom: 0;
	margin-bottom: 30px;
}
.modal-add-child-photo .nav-tabs li {
	float: none;
	display: inline-block;
	margin: 0 20px;
}
.modal-add-child-photo .nav-tabs li a {
	border: 0;
	background-color: transparent;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	color: #064874;
	padding: 8px 22px;
}
.modal-add-child-photo .nav-tabs li.active a {
	background-color: #5484B0;
	border-radius: 6px;
	color: #fff;
}

/*.avatar-grid .vertical-center {
	height: 80px; 
	display: table;
}

.avatar-grid. vertical-center .avatar-content {
	display: flex;
    align-items: center;
    justify-content: center;
}*/

.avatar-grid .row .col-sm-3 {
	display: flex;
    align-items: center;
    justify-content: center; 
    height: 80px;
}

.avatar-grid .row .col-sm-3 img {
	max-width: 60px;
	max-height: 60px;
}

.avatar-grid .row .col-sm-3 img.active {
	max-width: 80px;
	max-height: 80px;
	border: solid 1px #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
	/*box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	/*-moz-box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	/*-webkit-box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	/*-o-box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	border-radius: 100px;
}

.center-buttons {
	display: flex;
    align-items: center;
    justify-content: center; 
}

.invoice-identifier {
	background-color: #fff; 
	color: #064874; 
	border: 1px solid #dadada; 
	border-radius: 5px; 
	padding: 5px; 
	font-weight: 600;
	width: 100px;
}

#subfooter .container {
	color: #86a5b8;
	display: table;
	height: 35px;
}

#subfooter .footer-block {
	display: table-cell; 
	vertical-align: middle;
	line-height: 35px;
}

.vignette.placeholder {
	width: 300px; height: 300px; border-radius: 10px; background-color: #444; margin-top: 40px;
}

.vignette.photo {
	width: inherit; height: inherit; border-radius: 100%; position: absolute; z-index: 1;
}

.vignette.button-placeholder {
	width: inherit; height: inherit; display: table-cell; vertical-align: bottom; color: #444;
}

.vignette.zoom-out {
	float: left; margin-left: 10px; margin-bottom: 10px; width: 30px; height: 30px; background-color: rgba(250, 250, 250, 0.6); border-radius: 100%; position: relative; z-index: 2; display: flex; align-items: center; justify-content: center; font-size: 28px; font-weight: 800; cursor: pointer; cursor: hand;
}

.vignette.zoom-in {
	float: right; margin-right: 10px; margin-bottom: 10px; width: 30px; height: 30px; background-color: rgba(250, 250, 250, 0.6); border-radius: 100%; position: relative; z-index: 2; display: flex; align-items: center; justify-content: center; font-size: 28px; font-weight: 800; cursor: pointer; cursor: hand;
}


#profile-ecard {
	padding: 20px 0;
}

.ecard-table .row-header {
	background-color: #d3e9f7;
	color: #6998b5;
}
.ecard-table .row-header .row div {
	min-height: 50px;
	display: flex;
    align-items: center;
}

.ecard-table .row-odd {
	background-color: #e8e8e8;
}
.ecard-table .row-even {
	background-color: #F7F7F7;
}
.ecard-table .row-even, .ecard-table .row-odd {
	/*min-height: 120px;*/
	/*display: flex;*/
    /*align-items: center;*/

    /*padding: 20px 0 20px 0;*/
}

.ecard-table .row-odd .row, .ecard-table .row-even .row {
	display: flex;
    align-items: center;
}

.ecard-table .row div.center {
	display: flex; 
	align-items: center;
	justify-content: center;
}
.ecard-table .row-header .row div.center .week span {
	font-weight: 800;
}

.svg-click {
	cursor: pointer; 
	cursor: hand;
}

/*.ecard-table .row-header .ico-left-arrow {
	fill: green;
}*/

div .status.label {
	color: #000;
	font-weight: 400;
	font-size: 1em;
}

div .status.label span {
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	font-weight: 600;
	font-size: 1.2em;
	padding: 5px 10px 5px 10px;
	min-width: 50px;
	display: inline-block;
}

.status.label.green span {
	background-color: #008c00;
}

.status.label.orange span {
	background-color: #ff8900;
}

.status.label.red span{
	background-color: #ea4222;
}

.ecard-table .row-action:not(.simple) {
	font-size: 36px; 
	border-radius: 100%; 
	height: 50px; 
	width: 50px; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.ecard-table .action-topup {
	background-color: #008c00;
}
.ecard-table .action-history {
	background-color: #4d4c4d;
}
.ecard-table .action-block {
	background-color: #ff8900;
}
.ecard-table .action-delete {
	background-color: #ea4222;
}

.ecard-table .row-action.disabled {
	background-color: #807f80 !important;
}

.ecard-table .menu-row-mark {
	position: absolute;
    left: 12px;
    top: -8px;
    background-color: #95d700;
    border-radius: 100%;
    border: 2px solid #f7f7f7;
    padding: 3px;
    font-size: 16px;
}

.ecard-table .row-action.disabled .menu-row-mark {
    background-color: #a6a6a6;
}

.ecard-table .person-block .avatar {
	float: left; padding-right: 10px;
}

.ecard-table .person-block .avatar.add {
	height: 120px;
	display: flex;
	align-items: center;
}

.ecard-table .person-block .avatar img {
	width: 90px;
	height: 90px;
	border: solid 1px #d3e9f7;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	*/
	/*box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	/*-moz-box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	/*-webkit-box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	/*-o-box-shadow: 10px -10px  rgba(0,0,0,0.2);*/
	border-radius: 100%;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;	
}

.ecard-table .person-block .avatar-hover {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 0%;
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	/*-ms-transform: translate(-50%, -50%)*/
}

.ecard-table .person-block .avatar:hover img {
	opacity: 0.8;
}

.ecard-table .person-block .avatar:hover .avatar-hover {
	opacity: 1;
}

.ecard-table .person-block .avatar-hover-img {
  	opacity: 0.5;
  	width: 90px;
	height: 90px;
	background-color: #000;
	border-radius: 100%;
  	display: flex; 
	align-items: center; 
	justify-content: center;
}

.ecard-table .person-block .disabled .avatar img {
	opacity: 0.8;
}
.ecard-table .person-block .disabled .avatar-hover {
	opacity: 1;
}

.ecard-table .person-block {
	display: flex; 
	align-items: center; 
}

.ecard-table .person-content {
	/*display: table-cell; */
	/*vertical-align: middle;*/
	float: left;
}

.ecard-table .person-content h4 {
	font-size: 16px;
	font-weight: 600;
	color: #064874;
	margin-bottom: 0px;
}

.ecard-table .person-content span {
	font-size: 12px;
	color: #444;
}

.title-info {
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: 200;
	font-size: 14px;
	color: #064874;
}

.title-info span {
	color: #444;
}

.ecard-table .row-odd table.row-table {
	font-size: 12px;
	background-color: #e8e8e8;
	background: #e8e8e8;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#e8e8e8, endColorstr=#cdcdcd);
	background-image:-moz-linear-gradient(left, #e8e8e8 0%, #cdcdcd 49%, #e8e8e8 100%);
	background-image:linear-gradient(left, #e8e8e8 0%, #cdcdcd 49%, #e8e8e8 100%);
	background-image:-webkit-linear-gradient(left, #e8e8e8 0%, #cdcdcd 49%, #e8e8e8 100%);
	background-image:-o-linear-gradient(left, #e8e8e8 0%, #cdcdcd 49%, #e8e8e8 100%);
	background-image:-ms-linear-gradient(left, #e8e8e8 0%, #cdcdcd 49%, #e8e8e8 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#e8e8e8), color-stop(49%,#cdcdcd),color-stop(100%,#e8e8e8));
}

.ecard-table .row-even table.row-table {
	font-size: 12px;
	background-color: #F7F7F7;
	background: #F7F7F7;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#F7F7F7, endColorstr=#cdcdcd);
	background-image:-moz-linear-gradient(left, #F7F7F7 0%, #cdcdcd 49%, #F7F7F7 100%);
	background-image:linear-gradient(left, #F7F7F7 0%, #cdcdcd 49%, #F7F7F7 100%);
	background-image:-webkit-linear-gradient(left, #F7F7F7 0%, #cdcdcd 49%, #F7F7F7 100%);
	background-image:-o-linear-gradient(left, #F7F7F7 0%, #cdcdcd 49%, #F7F7F7 100%);
	background-image:-ms-linear-gradient(left, #F7F7F7 0%, #cdcdcd 49%, #F7F7F7 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#F7F7F7), color-stop(49%,#cdcdcd),color-stop(100%,#F7F7F7));
}

.ecard-table table.row-table th {
	height: 36px;
	border-bottom: 1px solid #fff;
	text-align: center;
}

.ecard-table table.row-table td {
	text-align: center;
	padding: 5px 3px 5px 3px;
	min-width: 30px;
	height: 36px;
}

.ecard-table .row-odd table.row-table td {
	background-color: #e8e8e8;
}
.ecard-table .row-even table.row-table td {
	background-color: #F7F7F7;
}

.ecard-table table.row-table th {
	border-right: 1px solid #fff;
}
.ecard-table table.row-table th:last-child {
	border-right: none;
}
.ecard-table table.row-table tr {
	border-bottom: 1px solid #fff;
}
.ecard-table table.row-table tr:last-child {
	border-bottom: none;
}
.ecard-table table.row-table td {
	border-right: 1px solid #fff;
}
.ecard-table table.row-table td:last-child {
	border-right: none;
}

.ecard-table table.row-table td:first-child {
	text-align: left;
	min-width: 90px;
}

@media (max-width: 990px) {
	.ecard-table table.row-table td:first-child {
		text-align: center;
		min-width: 40px;
	}
}

.ecard-table .row-even.add-person {
	min-height: 120px;
}

.profile-menu {
	height: 50px; 
	margin-bottom: 0;
	background-color: #f7f7f7;
	border-radius: 0;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
	border-width: 0 0 1px;
	clear: both;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 100;
	display: flex; 
	align-items: center; 
	justify-content: center;
}
.profile-menu:after {
	display: table;
}

.profile-menu div {
	height: 100%;
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.profile-menu a:hover {
	text-decoration: none;
}

.person-block a:hover {
	text-decoration: none;
}

.profile-menu a {
	height: 100%;
}
.profile-menu .item div {
	margin-right: 5px;
}
.profile-menu .item img {
	width: 30px;
}

.profile-menu .item {
	min-width: 120px; 
	padding: 9px; 
	margin-right: 10px;
}
.profile-menu .item.active {
	background-color: #e8e8e8;
}

.navbar.navbar-top.navbar-fixed-top.no-shadow {
	box-shadow: none;
}

.notification.label {
	background-color: #ea4222;
	border-radius: 8px;
	padding: 5px;
	min-width: 24px;
	display: inline-block;
	font-weight: 800;
	color: #fff;
}
.notification.label.large {
	padding: 8px 12px 8px 12px;
	font-size: 18px;
}
.notification.label.red {
	background-color: #ea4222;
	color: #fff;
}
.notification.label.green {
	background-color: #118a14;
	color: #fff;
}


.profile-section .container .title {
	margin: 60px 0 40px 0;
	font-size: 18px;
}

#profile-ecard .row-action.current:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 28px;
	bottom: -30px;
	border: 20px solid transparent; 
	border-bottom: 20px solid #fff;
}
#profile-ecard .person-content.row-action.current:after {		
	left: 78px;
	bottom: -30px;
}

@media (max-width: 1200px) {
	#profile-ecard .row-action.current:after {
		left: 20px;
		bottom: -30px;
	}
	#profile-ecard .person-content.row-action.current:after {		
		left: 38px;
		bottom: -30px;
	}
}

@media (max-width: 990px) and (min-width: 640px) {
	#profile-ecard .row-action.current:after {
		left: 21px;
		bottom: -22px;
	}
	#profile-ecard .person-content.row-action.current:after {		
		left: 48px;
		bottom: -25px;
	}
}

@media (max-width: 640px) {
	#profile-ecard .row-action.current:after {
		left: 21px;
		bottom: -25px;
	}
	#profile-ecard .person-content.row-action.current:after {		
		left: 48px;
		bottom: -25px;
	}
}


#profile-ecard .row-details .container .title {
	margin: 40px 0 40px 0;
	font-size: 18px;
}

/*body {*/
	/*margin-top: 146px;*/
/*}*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

.navbar.navbar-top div.container {
	margin-bottom: 16px;
}

.ecard-table .row-details {
	background-color: #fff;
	display: none;
}

.ecard-table .row-details .container.footer .row {
	margin: 40px 0 20px 0;
}

.profile-section input.input {
	height: 32px;
	line-height: 32px;
}

.profile-section input[type="password"].input {
	height: 32px;
	line-height: 20px;
}

#profile-ecard input.input.sum {
	max-width: 72px;
}

#profile-ecard .row-details div.container.step-2 {
	display: none;
}

#profile-ecard .center-buttons .title {
	color: #444;
	font-weight: 200;
	margin-top: 0px !important;
}

#profile-ecard .center-buttons .title span {
	color: #004876;
	font-weight: 400;
	font-size: 2em;
	margin-left: 15px;
}

.modal-card-code-help .success img,
.modal-card-nr-help .success img {
	width: 100%;
	height: auto;
}


#profile-ecard .no-top {
	margin-top: 0px !important;
}

.profile-section input.input.form-control {
	border: 1px solid #87c2e3;
}

.calendar-table table thead th.next i.fa.glyphicon, 
.calendar-table table thead th.prev i.fa.glyphicon {
	position: relative;
	top: 0;
	right: 0;
}

.daterangepicker_input .input-mini.form-control {
	font-family: 'Open Sans', sans-serif;
}

span.accent {
	font-weight: 600;
	text-transform: uppercase;
}
span.accent.orange {
	color: #ff8900;
}
span.accent.green {
	color: #008c00;
}
span.accent.red {
	color: #ea4222;
}

#profile-ecard .panel-title a {
	text-decoration: none;
	display: table;
	color: #064874;
	font-size: 16px;
}
#profile-ecard .panel-title a > span {
	display: table-cell;
	vertical-align: middle;
}
#profile-ecard .panel-title {
	font-weight: 600;
	color: #064874;
	font-size: 14px;
}

#profile-ecard .panel-title a:before {
	content: '+';
	display: inline-block;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background-color: #5484B0;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	margin-right: 10px;
}
#profile-ecard .open .panel-title a:before {
	content: '—';
	font-size: 14px;
}

#profile-ecard .panel-body .grey {
	color: #807f80;
}

#profile-ecard .panel-body .grey.script {
	font-style: italic;
}

#profile-ecard .panel-body .grey.bold {
	font-weight: 600;
	margin-top: 20px;
}

/*.dropdown-menu .item a {
	text-decoration: none;
	display: table;
	color: #064874;
	font-size: 16px;
}
.dropdown-menu .item a > span {
	display: table-cell;
	vertical-align: middle;
}
.dropdown-menu .item {
	font-weight: 600;
	color: #064874;
	font-size: 14px;
}

.dropdown-menu .item.profile a:before .profile {
	content: '+';
	display: inline-block;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background-color: #5484B0;
	color: #fff;
	font-size: 22px;
	border-radius: 4px;
	margin-right: 10px;
}
*/
.dropdown-menu .item {
	color: #807f80;
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}
.dropdown-menu .item a {
	color: #444;
	margin: 0;
	text-decoration: none;
	font-size: 16px;
}

.dropdown-menu .item.title {
	font-weight: 800;
	font-size: 16px;
	padding-bottom: 20px;
}

#profile-ecard #details_addperson_0 {
	margin-top: 20px;
}

#table_invoices tbody td span.cancel {
	font-weight: 600;
	cursor: pointer; 
	cursor: hand;
}

h4.modal-big-header {
	font-weight: 800;
	font-size: 24px;
	color: #064874;
	text-align: center;
}

#register_steps_3 .person-block .avatar {
	float: left; padding-right: 10px;
}

#register_steps_3 .person-block .avatar.add {
	height: 120px;
	display: flex;
	align-items: center;
}

#register_steps_3 .person-block .avatar img {
	max-width: 90px;
	max-height: 90px;
	border: solid 1px #d3e9f7;
	border-radius: 100%;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;	
	cursor: hand;
	cursor: pointer;
}

#register_steps_3 .person-block {
	display: flex; 
	align-items: center; 
}

#profile h2.title {
	font-size: 30px;
}

input[type="password"] {
    /*font-family: FontAwesome;*/
}

.form-group .group-addon {
	position: absolute;
	top: 6px;
	right: 5px;
	z-index: 1;
	cursor: pointer;
}
/*.form-group .group-addon img {
	width: 24px;
	height: 17px;
}*/

.form-group .group-addon.svg {
	top: 0;
	right: 0;
}

.form-group .group-addon.svg div {
	font-size: 28px !important;
	line-height: 28px;
}

#profile .person-block .avatar {
	float: left; padding-right: 10px;
}

#profile .person-block .avatar.add {
	height: 120px;
	display: flex;
	align-items: center;
}

#profile .person-block .avatar img {
	max-width: 90px;
	max-height: 90px;
	border: solid 1px #d3e9f7;
	border-radius: 100%;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;	
	cursor: hand;
	cursor: pointer;
}

#profile .person-block {
	display: flex; 
	align-items: center; 
}

.input.form-control.disabled {
	background-color: #f7f7f7;
	border: solid 1px #e0e0e0 !important;
	color: #bab2b3;
}

.svg-icon.inline {
	font-size: 32px; 
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.15em;
}

.footer-block a {
	color: #86a5b8;
}

.modal-body input.input {
	height: 32px;
	line-height: 20px;
}	
.modal-body input.input.form-control {
	border: 1px solid #87c2e3;
}

.modal-body .text-center.condensed {
	line-height: 22px;
}

.modal-body .input-group-icon {
	position: relative;
}

.modal-body .grey {
	color: #807f80 !important;
}

.modal-body .grey.script {
	font-style: italic;
}

.modal-body .grey.bold {
	font-weight: 600;
	margin-top: 20px;
}

.dropdown-menu input.input {
	height: 32px;
	line-height: 20px;
}	

.cookie-bar {
	position: fixed;
	min-height: 31px;
	height: auto;
	overflow: hidden;
	top: 0px;
	background-color: #444;
	width: 100%;
	border-bottom: 1px solid #5a5a5a;
	color: #fff;
	font-size: 0.8em;
	z-index: 1030;
	padding: 5px 0 5px 0;	
	display: none;
}

.cookie-bar.show-cookie-bar {
	display: block;
}

.navbar.navbar-top.navbar-fixed-top.show-cookie-bar {
	top: 32px;
}

@media screen and (max-width: 768px) {
	.cookie-bar {
		height: 51px;
	}
	.navbar.navbar-top.navbar-fixed-top.show-cookie-bar {
		top: 41px;
	}
}
@media screen and (max-width: 468px) {
	.cookie-bar {
		height: 81px;
	}
	.navbar.navbar-top.navbar-fixed-top.show-cookie-bar {
		top: 81px;
	}
}

.cookie-bar .text {
	margin-right: 10px;
}

.cookie-bar .button {
	margin-left: 10px;
	border-radius: 6px;
	padding: 3px 5px 3px 5px;
	font-weight: 600;
	cursor: pointer;
	cursor: hand;
}
.cookie-bar .button.red {
	background-color: #ea4222;
}
.cookie-bar .button.green {
	background-color: #008c00;
}
.cookie-bar .button.red:hover {
	background-color: #be4333;
}
.cookie-bar .button.green:hover {
	background-color: #16772f;
}

#footer li a img {
	width: 183px;
	height: auto;
}

input.input:focus {
	border-width: 2px;
	border-color: #064874 !important;
}
input.input:hover {
	border-color: #064874 !important;
}
textarea.textarea:focus {
	border-width: 2px;
	border-color: #064874 !important;
}
textarea.textarea:hover {
	border-color: #064874 !important;
}

#subfooter .row a:hover {
	color: #dadada;
}
#subfooter .row a:hover svg {
	fill: #dadada;
}

section#kart:hover {
	background-color: #004066;
	cursor: hand;
	cursor: pointer;
}
section#kart a {
	color: inherit;
}
section#kart a:hover {
	color: inherit;
	text-decoration: none;
}

.navbar-toggle a img {
	width: 61px; 
	/*width: 61px; */
	height: 61px; 
	/*height: 61px; */
	background-color: #0f779a;
	border: none; 
	outline: 0;
	overflow: hidden;
	border-radius: 100%;
	text-decoration: none;
}
@media (max-width: 500px) {
  .navbar-toggle a img {
    width: 51px; 
    height: 51px; 
  }
}
/* @-moz-document url-prefix() {
	.navbar-toggle a img {
		width: 61px;
		height: 61px;
	}
} */

.navbar-toggle:not(open) a img {
	background-color: #0f779a !important;
}
.navbar-toggle.open a img {
	transform: rotate(90deg);  
	transition: transform 0.25s ease-out;
	background-color: #0f779a !important;
}

.menu-rotate.active {
	display: inline-block;
}

.menu-rotate img{
	transform: rotate(0deg);  
	transition: transform 0.25s ease-in;
}

.menu-rotate {
	display: none;
}

@media (max-width: 990px) {
	.row.stack .person-line.vertical-center.large-padding {
		width: 40%;	
	}
	.row.stack .col-md-12 {
        margin-top: 20px;
    }

    .row-details .row.stack .col-xs-6,
    .profile-section .row.stack .col-xs-6 {
        margin-top: 20px;
        /*float: none;*/
        display: flex;
		/*justify-content: center;*/
    }    
}

@media (max-width: 768px) {
    .row.stack .col-xs-12 {
        margin-top: 20px;
        float: none;
        display: flex;
		justify-content: center;
    }

    .row-details .row.stack .col-xs-6,
    .profile-section .row.stack .col-xs-6 {
        margin-top: 20px;
        /*float: none;*/
        display: flex;
		justify-content: center;
    }

    .row.left .col-xs-12 {
        margin-top: 20px;
        float: none;
        display: flex;
		justify-content: left;
    }    

    .row-details .row.stack .col-xs-12 {
        margin-top: 20px;
        float: left;
        display: flex;
		justify-content: center;
    }    

    .row.stack .col-xs-12 div.large-padding {
        padding-top: 0px !important;
    }

    .row.left .col-xs-12 div.no-padding {
        padding-left: 0px !important;
    }

    .row.stack .col-xs-12.large-padding {
        height: 50px !important;
    }

}

.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

@media (max-width: 767px) {
	.nav-tabs > li {
		float: left;
		width: 50%;
	}
	.nav-tabs > li a {
		text-align: center;
	}
}

.superposition1 {
	grid-column-start: 2;
}

@media (max-width: 990px) {
	.ecard-table div.row-header .container .row {
		white-space: nowrap;
	}

	.ecard-table div.row-header .head-hide {
		display: none !important;
	}

	.ecard-table .heading-column span.text {
		display: none;
	}
	.ecard-table .heading-column span.short {
		display: inline-block !important;
	}

}

@media (max-width: 990px) and (min-width: 640px) {
	.ecard-table div.row-header .head-card {
		float: left;
	}
	.ecard-table div.row-header .head-week {
	}	

	.ecard-table .row.cell-avatar {
		flex-direction: column;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.ecard-table .row .avatar-image {
		width: 100%;
		order: 1;
	}
	.ecard-table .row .avatar-name {
		width: 100%;
		order: 2;
	}

	.ecard-table .row.cell-options {
		flex-direction: column;
		padding-top: 0px;
		padding-bottom: 15px;
	}
	.ecard-table .row .options-table {
		width: 100%;
		padding-top: 25px;
		order: 1;
	}
	.ecard-table .row .options-buttons {
		width: 100%;
		margin-top: 15px;
		order: 2;
	}	

}

@media (max-width: 640px) {
	.ecard-table div.row-header .head-card {
		display: none;
	}
	.ecard-table div.row-header .head-week {
		width: 100%;
	}	

	.ecard-table .row.cell-avatar {
		flex-direction: column;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.ecard-table .row .avatar-image {
		width: 100%;
		order: 1;
	}
	.ecard-table .row .avatar-name {
		width: 100%;
		order: 2;
	}

	.ecard-table .row.cell-options {
		flex-direction: column;
		padding-top: 0px;
		padding-bottom: 15px;
	}
	.ecard-table .row .options-table {
		width: 100%;
		padding-top: 25px;
		order: 1;
	}
	.ecard-table .row .options-buttons {
		width: 100%;
		margin-top: 15px;
		order: 2;
	}	
	.ecard-table .row .cell-remainder {
		width: 50px;
	}
	div .status.label div.remainder {
		-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
	}

}

@media (max-width: 468px) {
	.container {
		/*padding-left: 0;*/
		/*padding-right: 0;*/
	}

	section#section1 .title {
		font-size: 1.5em;
	}

  #section4 .social a {
    width: 40px;
    height: 40px;
  }  

	#section4 .social a img {
		width: 36px;
		height: 36px;
	}

	#section4 .social a:hover img {
		width: 40px;
		height: 40px;
	}	

  .profile-menu span.submenu-title {
    display: none;
  }

}	

@media (min-width: 990px) and (max-width: 1200px) {
  #section1 img.img-thanks {
    width: 80% !important;
  }
}


